* {
    margin: 0;
}

body {
    padding: 0;
    background-image: url(bingo.png);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tituloBingo{
    margin-top: 0.8em;
    text-align: center;
    display: grid;
    font-size: 1.6rem;
}

.container {
    margin-top: 2em;
    width: 100vw;
    display: flex;
    justify-content: center; 
}

#tabelaBingo {
    border-collapse: collapse;
    height: 25rem;
    width: 25rem;
    text-align: center;
    font-size: 22pt;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

#tabelaBingo td {
    padding: 0.3rem;
    width: 2em;
    height: 2em;
    border: 1px solid #000;
}

#tabelaBingo td:hover {
    background-color: #a5efa2;
    transition: background-color 0.5s ease;
}

.marcado{
    width: 80%;
    color: rgb(240, 248, 244);
    pointer-events: none;
    margin: 0.3rem;
    box-sizing: border-box;
    background: #74ee70;
}

.botoes{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.n-1{
    font-size: 2em;
}

.botoesBingo, a{
    padding-bottom: 6px;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7em;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 20px;
    border: solid 0.5px #030303;
    transition: background-color 0.5s ease;
}

.botao:hover {
    background-color: #a5efa2;
}
/* 
footer{
    margin-top: 0.8em;
    margin-left: 0px;
    max-width: 100vw;
    height: auto;
    display: flex;
}

footer, p{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: 1.8rem;
    color: #030303;
} */